@import './smart-grid.sass'
$font1: 'Lucida Grande', Arial, Helvetica, sans-serif
$font2: 'Times New Roman', serif

$c1: #010101
$c2: #5893d4
$green: #00E676
$shadow: #acdbdf
$bgc: rgba(0,0,0,.05)

$br: .625rem

$transition: .2s all

+reset()

html
	font: 16px $font1
	color: $c1
	background-color: #302D2D

h1
	font: 1.75rem $font2
p
	margin-bottom: 1rem
a
	text-decoration: none
	color: $c2
	&:active
		color: $c1
	&:visited
		color: $c2

main
	+wrapper()
	margin: 1rem auto
	padding: 2rem 4rem
	border-radius: .25rem
	background-color: #fff
	box-sizing: border-box
	h1
		margin: 1.5rem 0
		font-weight: bold
		border-bottom: .15rem solid $c1
	.row
		display: flex
		margin-bottom: 1.5rem
		.fact
			+size(3)
		.description
			+size(9)
		.block
			h3
				display: block
				margin-bottom: .5rem
		.col
			+size(3)
			display: inline-flex
			justify-content: center
			align-items: center
			img
				display: block
				max-width: 1.25rem
				height: auto
				margin-right: .5rem
			a
				display: block
	footer
		margin-top: 3rem
		text-align: right